.folders{
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background-color: rgb(194, 194, 194);
  margin-bottom: 10px;
}
button{
  padding: 10px;
}